.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.css-13cymwt-control {
  color: black !important ;
}

.css-1nmdiq5-menu {
  color: black;
}

.css-1p3m7a8-multiValue {
  display: -webkit-box;
  display: -webkit-flex;
  background-color: white!important;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  background-color: hsl(0, 0%, 90%);
  border-radius: 6px !important;
  margin: 2px;
  border-color: #EEEEEE !important;
  box-sizing: border-box;
  border-style: ridge;
}

.MuiBox-root.css-v18tzl {
  height: 100%;
}



// .css-13cymwt-control:hover {
//   background-color: #282c34 !important;
//   color: blue !important ;
//   width: 300px !important;
// }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Reset default table styles */
.custom-table {
  color: black
}
.custom-table table {
  border-collapse: collapse;
  width: 100%;
}

/* Style for table header */
.custom-table th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Alternate row background color */
.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

/* Style for table data cells */
.custom-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Hover effect on rows */
.custom-table tbody tr:hover {
  background-color: #ddd;
}
